<!DOCTYPE html>
<html lang="en">

<!-- ***************************************************************************************/
*    Title: Paddy`s Cafe source code
*    Author: Mikhail
*    Date: 2020
*    Availability: https://gitpod.io/#https://github.com/mikhail-cct/xml-bootcamp
*    
*    The main structure for my project has been based on the code above made available by Mikhail.
***************************************************************************************/ -->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dublin Cinema</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>

    <script src="./repositories/crude.js" defer></script>
    <script src="./js/table.js" defer></script>
    <script src="./index.js" defer></script>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/movieTimes.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Dublin Cinema</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Welcome to Dublin Cinema</h1>
                <p class="lead">Select one of the showings below:</p>
            </div>
            <div id="results" class="col-lg-7 order-2 mb-5"></div>
            <div class="principal-content">
                <div class="col-lg-5 order-1">
                    <form enctype="application/json" action="/post/json" method="post">
                        <!--Here we implements a method thats call API serach -->
                        <div class="form-group">
                            <select class="form-control" name="sec_n" id="genre">
                            <option value="Drama">Drama</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Action">Action</option>
                            <option value="Super-Hero">Super-Hero</option>
                        </select>
                            <input class="form-control mt-3" type="text" name="name" placeholder="name" id="name" required>
                            <input class="form-control mt-3" type="number" name="price" placeholder="price" id="price" required>
                            <input class="form-control mt-3" type="text" name="duration" placeholder="duration" id="duration" required>
                            <input class="form-control mt-3" type="text" name="screen" placeholder="screen" id="screen" required>
                            <input class="form-control mt-3" type="text" name="time" placeholder="time" id="showingTime" required>
                            <button type="button" onclick="insertMovie()" class="btn btn-primary btn-block mt-3">Submit</button>
                        </div>
                    </form>
                    <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
                    <p class="text-muted text-center">To delete a movie, click the required row first</p>
                    <form>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&euro;</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Total" name="txtBillAmt">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="checkbox" id="showVeg" aria-label="Checkbox for following text input">
                                </div>
                            </div>
                            <input class="btn btn-block btn-secondary mt-2" type="button" onclick="calculateBill()" name="btnCalcBill" value="Calculate Bill" id="calcBill">
                        </div>
                    </form>
                </div>


                <table id="movieTable" border="1" class="col-lg-7 order-2 mb-5">
                    <thead>
                        <td class="header-props">Select</td>
                        <td class="header-props">Name</td>
                        <td class="header-props">Genre</td>
                        <td class="header-props">Price</td>
                        <td class="header-props">Duration</td>
                        <td class="header-props">Screen</td>
                        <td class="header-props">Showing Time </td>
                    </thead>
                    <tbody id="list-props">

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>

    <footer class="footer">
        <div class="container text-center"><span class="text-muted">&copy; 2020</span></div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/table.js"></script>
    <!-- <script src="js/movieTime.js"></script> -->
    <!-- <script>
        window.addEventListener("load", function() {
            document.forms[1].txtBillAmt.value = calculateBill('movieTable');
            document.querySelector("#calcBill").addEventListener("click", function() {
                document.forms[1].txtBillAmt.value = calculateBill('movieTable');
            });
        });
    </script>
-->
</body>

</html